* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #808080;
}

footer {
    background-color: #4A4A4A;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #FFF;
    height: 65px;
    width: 100%;
}
footer a {
    color: #FFF;
}
footer a:hover {
    color: #FFF;
    text-decoration: underline;
}

.jumbotron {
    background: url("../images/hero1.png") no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;   
    background-position: center, center;
    height: auto;   
    margin-top: -180px;
    margin-bottom: 0;
    border-radius: 0;
}

.fondoMision {
    height: auto;
    background-image: url("../images/circulo-celeste.png"), url("../images/circulo-naranja.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left, bottom right;
    width: auto;
}

.separador {
    border-bottom: solid 20px #F1803C;
}


.porQueHrBox {
    background: url("../images/bg-porquehrbox.png") no-repeat; 
    color: #FFF;
    border-bottom: solid 10px #5AC3C3;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;
    height: auto;
    padding: 60px 0 60px 0;
    margin-bottom: 0;
    border-radius: 0;
}
.porQueHrBox h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    border-bottom: solid 1px #5AC3C3;
    margin-bottom: 40px;
}
.porQueHrBox h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.porQueHrBox p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.separata {
    border-bottom: solid 1px #5AC3C3;
    padding-bottom: 20px;
}


.contenedor-a {
    background-color: #F2F2F2;
    border-bottom: solid 10px #5AC3C3;
    height: auto;
    padding: 20px 0 100px 0;
    margin: 0 auto;
    width: auto;
}
.contenedor-a a {
    text-decoration: none;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out; 
}
.contenedor-a a:hover {
    opacity: 0.3;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out; 
}
.contenedor-a img {
    height: auto;
    width: 100%;
}
.atraer, .liderazgo-cultura, .innovar {
    color: #F1803C;
    margin: 10px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 23px 0 0 0;
}
.atraer:hover, .liderazgo-cultura:hover, .innovar:hover {
    opacity: 0.5;
}
.marcas {
    height: auto;
    padding: 30px 0 30px 0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; 
}
.marca:hover {
   opacity: 0.7;
}
.centrar {
    text-align: center;
}
.legales {
    background-color: #F1803C;
    font-size: 12px;
    font-weight: 100;
    color: #FFF;
    height: 50px;
    width: auto;
}
.legales a {
    color: #FFF;
    text-decoration: none;
}
.legales a:hover {
    color: #FFF;
    text-decoration: underline;
}

.emailBox {
    background: url("../images/bg-email.png") no-repeat; 
    color: #FFF;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;
    padding: 10px 0 60px 0;
    height: auto;
}
.emailBox h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-top: 100px;
}
.emailBox p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
}
.testimonios {
    margin-bottom: 100px;
    margin-top: 20px;
}
.testimonios p {
    font-family: 'Open Sans', sans-serif;
    color:grey;
    font-size: 14px;
    font-style: italic;
}
.testimonios h6 {
    color: #F1803C;
    font-size: 12px;
    font-weight: 500;
}
.imagenesTestimonios img {
    height: auto;
    width: 40%;
}
.bajar {
    margin-top: 77px;
}

.redes {
    font-size: 20px;
}
.redes a:hover {
    text-decoration: none;
    opacity: 0.5;
}
.rede {
    padding: 0 5px 0 5px;
}
.rede a {
    text-decoration: none;
    border: none;
}
.tituloTestimonios {
    color: #F1803C;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 70px;
}
.nombreTestimonios {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 5px 0;
}
.tituloQuetegustaria {
    color: #F1803C;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin: 50px 0 50px 0;
}
.marca img {
    height: auto;
    width: 70%;
}
.textoEmpresa {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    padding: 55px 0 30px 0;
    color: #808080;
    font-weight: 300;
    text-align: justify;
    line-height: 32px;
}
.btnContacto {
    border: solid 2px #F1803C;
    padding-left: 5px;
}
.btnContactoLleno {
    background-color: #F1803C;
    margin-left: 20px;
}
.linkOrange {
    color: #F1803C;
    font-size: 13px;
}
.linkOrangeLleno {
    color: #FFF;
    font-size: 13px;
}
.columnaForm {
    margin-top: 150px;
}
.btnSub {
    color: #FFF;
    border-radius: 0;
    border: solid 3px #FFF;
    margin-bottom: 25px;
    width: 25%;
}
.btnSub:hover {
    background-color: #5AC3C3;
    border: solid 3px #FFF;
}
.emailBox input {
    height: 50px;
    border-radius: 0;
    font-style: italic;
    color: grey;
    width: 70%;
    margin-top: -50px;
}
.colDown {
    margin-top: 400px;
    color: #FFF;
    background-color: rgba(241, 128, 60, 0.60);
    padding: 30px;
}
.colDown h2 {
    font-family: 'Montserrat';
    line-height: 55px;
    font-weight: 300;
    font-size: 40px;
}
.tituloQuienesSomos h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #F1803C;
}
.tituloQuienesSomos  p {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
}
.nosotrosJennifer img {
    height: auto;
    margin-bottom: 27px;
    width: 100%;
}
.nosotrosJennifer a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.nosotrosJennifer a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.separadorCeleste {
    border-bottom: solid 10px #5AC3C3;
}
.nosotros {
    margin-bottom: 77px;
    margin-top: 50px;
}
.tituloQuienesSomos {
    margin-top: 40px;
}
.btnTeam {
    color: #F1803C;
    height: 50px;
    width: 100%;
    border-radius: 0;
    border: solid 3px #F1803C;
}
.btnTeam:hover {
    color: #FFF;
    width: 100%;
    border-radius: 0;
    background-color: #F1803C;
    border: solid 3px #F1803C;
}
.nosotros h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #F1803C;
} 
.nosotros  p {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
}
.founder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #808080;
    margin-top: 15px;
}
.redsContactos {
    color: #F1803C;
    font-size: 28px;
    font-weight: 400;
}
.redsContactos a {
    color: #F1803C;
    text-decoration: none;
}
.redsContactos a:hover {
    opacity: 0.6;
}
.obligatorio {
    color: #C6BFBF;
    font-size: 12px;
}
.nosotros form {
    height: auto;
    border: none;
    margin-top: 30px;
}
.nosotros form input {
    border: none;
    border-bottom: solid 1px grey;
    border-radius: 0;
    font-size: 12px;
    color: grey;
    margin-bottom: 60px;
    width: 70%;
}
.btnFormaParte {
    color: #F1803C;
    font-size: 14px;
    background-color: #FFF;
    border-radius: 0;
    height: 35px;
    width: 100%;
    display: auto;
    margin-bottom: 10px;
    border: solid 2px #F1803C;
}
.btnFormaParte:hover {
    background-color: #F1803C;
    color: #FFF;
}
.mapa {
    background: url("../images/mapa.png") no-repeat; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;    
    height: 744px;
    margin-bottom: 0;
    border-radius: 0;
}
.terminosYcondiciones {
    margin-bottom: 100px;
}

.terminosYcondiciones h2 {
    font-family: 'Montserrat', sans-serif;
    color: #F1803C;
    font-size: 20px;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 20px;
}
.terminosYcondiciones p {
    font-size: 13px;
    color: grey;
    line-height: 22px;
    text-align: justify;
}
.formularioRecibidoOka {
    height: 500px;
    text-align: center;
}
.formularioRecibidoOka h2 {
    color: #F1803C;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-top: 170px;
    margin-bottom: 20px;
}
.formularioRecibidoOka img {
    margin-bottom: 15px;
}
.btnVolver {
    color: #FFF;
    background-color: #F1803C;
    border-radius: 0;
    width: 12%;
}
.liderazgoYcultura img {
    height: auto;
    width: 65%;
}
.columna2liderazgo {
    text-align: center;
}
.liderazgoYcultura {
    margin-top: 50px;
}
.liderazgoYcultura h2 {
    font-family: 'Montserrat', sans-serif;
    color: #F1803C;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
    font-weight: 400;
}
.liderazgoYcultura h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 15px;
    color: grey;
}
.liderazgoYcultura p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #959090;
    font-weight: 100;
}
.liderazgoYculturaTexto {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #959090;
    font-weight: 100;
    line-height: 27px;
}
.explicacionCoaching p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #959090;
    margin-top: 40px;
    font-weight: 100;
}
.explicacionProgramaDeReferidos p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #959090;
    margin-top: 40px;
    font-weight: 100;
}
.explicacionredactarPuestosModernos p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #959090;
    margin-top: 40px;
    font-weight: 100;
}
.explicacionProcesoDeReclutamientoAgil p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #959090;
    margin-top: 40px;
    font-weight: 100;
}
.explicacionEntrevistasModernas p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #959090;
    margin-top: 40px;
    font-weight: 100;
}
.explicacionProgramaDeInduccionParaNuevosEmpleados p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #959090;
    margin-top: 40px;
    font-weight: 100;
}
.formContactoCompra {
    margin-top: 30px;
    margin-bottom: 30px;
}
.formContactoCompra form input {
    border: 0;
    border-bottom: solid 1px grey;
    border-radius: 0;
    margin-bottom: 60px;
    font-size: 14px;
}
.titlosFormulariosVenta {
    margin-top: 50px;
}
.lineaHr {
    margin-top: 40px;
}
.pieConMpYPayPal {
    margin-bottom: 60px;
}
.pieConMpYPayPal p {
    color: #959090;
    font-size: 13px;
    margin-top: 10px;
}
.liderazgoYcultura h3 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin-top: 35px;
}
.circulo {
    color: #F1803C;
}
.titlosFormulariosVenta h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.titlosFormulariosVenta small {
    font-size: 12px;
    color: grey;
    font-family: 'Open Sans', sans-serif;
}
.pieConMpYPayPal p {
    float: right;
}
.franja {
    height: 285px;
    color: #FFF;
    background-color: #F1803C;
    text-align: center;
    width: auto;
}
.franja h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 200;
    padding-top: 40px;
}
.franja h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.shop {
    margin-top: -130px;
}
.shop h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 50px;
}
.shop a {
    text-decoration: none;
    color: #333;
}
.active {
    border-bottom: solid 2px #F1803C;
}
.controlModal:hover {
    opacity: 0.7;
}
.formaParteTeam img {
    height: auto;
    width: 100%;
}
.formaParteTeam {
    text-align: center;
}
.videoModule {
    text-align: center;
    height: auto;
    margin: 0 auto;
    width: auto;
}
.btnCerrar {
    border-radius: 0;
    background-color: #5AC3C3;
    border: 0;
}
.btnVerMas {
    border-radius: 0;
    background-color: #F1803C;
    border: 0;
}
.fotoModal img {
    height: auto;
    width: 100%;
}
.fotoModal h2 {
    font-family: 'Montserrat', sans-serif;
    color: #F1803C;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 20px;
}
.fotoModal h3 {
    font-family: 'Montserrat', sans-serif;
    color: #4A4A4A;
    font-size: 15px;
    font-weight: 600;
}
.fotoModal a {
    color: #808080;
    font-size: 13px;
    font-weight: 100;
}
.fotoModal hr {
    margin: 35px 0 35px 0;
}


.cardAtraer {
    height: 286px;
    width: 296px;
    background: url("../images/atraer1.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.cardAtraer:hover {
    background: url("../images/atraer-hover.png") no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.cardSeleccion {
    height: 286px;
    width: 296px;
    background: url("../images/atraer2.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.cardSeleccion:hover {
    background: url("../images/atraer2-hover.png") no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.cardInduccion {
    height: 286px;
    width: 296px;
    background: url("../images/atraer3.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.cardInduccion:hover {
    background: url("../images/atraer3-hover.png") no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}


.cardLiderazgo {
    height: 286px;
    width: 296px;
    background: url("../images/liderazgo1.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.cardLiderazgo:hover {
    background: url("../images/liderazgo1-hover.png") no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.cardliderazgo2 {
    height: 286px;
    width: 296px;
    background: url("../images/liderazgo2.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.cardliderazgo2:hover {
    background: url("../images/liderazgo2-hover.png") no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.cardliderazgo3 {
    height: 286px;
    width: 296px;
    background: url("../images/liderazgo3.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.cardliderazgo3:hover {
    background: url("../images/liderazgo3-hover.png") no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}


.cardliderazgo4 {
    height: 286px;
    width: 296px;
    background: url("../images/liderazgo4.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.cardliderazgo4:hover {
    background: url("../images/liderazgo4-hover.png") no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}


.cardinnovar {
    height: 286px;
    width: 296px;
    background: url("../images/innovar1.png") no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.cardinnovar:hover {
    background: url("../images/innovar1-hover.png") no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}

.iconesDeContacto p {
    text-align: right;
    font-size: 30px;
}
.preNav {
    background-color: #F1803C;
    height: 5px;
    width: auto;
}
.columnaUnoShop {
    text-align: center;
}
.columnaDosShop {
    text-align: center;
}
.columnaTresShop {
    text-align: center;
}
.MarcasMas {
    text-align: center;
    height: auto;
    padding: 40px 0 40px 0;
}
.MarcasMas img {
    height: auto;
    width: 100%;
}
.MarcasMas a:hover {
    opacity: 0.7;
}
.menu {
    font-size: 15px;
    font-weight: 600;
    border-top: solid 5px #F1803C;
    z-index: 1;
}
.lineaGrisMenuInterno {
    border-bottom: solid 1px #959090;
}
.copyCols {
    padding-top: 400px;
}
.copy {
    color: #FFF;
    background-color: rgba(241, 128, 60, 0.70);
    padding: 20px 0 20px 20px;
}
.copy h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 300;
}
.linksAcontacto {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 60px;
}
.linksAcontacto a {
    color: #F1803C;
}
.jumbo {
    padding: 400px;
}
.jumbo h2 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    line-height: 55px;
    font-size: 40px;
    font-weight: 400;
}
.jumbo .bgCopy {
    background-color: rgba(241, 128, 60, 0.60);
    height: auto;
    width: 35%;
    padding: 30px 0 30px 20px;
    float: right;
}
.hamburguesa {
    border: none;
}
.color {
    color: #F1803C;
    font-size: 25px;
}
.naranja {
    background-color: #F1803C;
    color: #FFF;
    border-radius: 0;
}
.naranja:hover {
    background-color: #d35400;
    color: #FFF;
}

/*
_____             .___.__        
/     \   ____   __| _/|__|____   
/  \ /  \_/ __ \ / __ | |  \__  \  
/    Y    \  ___// /_/ | |  |/ __ \_
\____|__  /\___  >____ | |__(____  /
      \/     \/     \/         \/ 
________                      .__               
\_____  \  __ __   ___________|__| ____   ______
/  / \  \|  |  \_/ __ \_  __ \  |/ __ \ /  ___/
/   \_/.  \  |  /\  ___/|  | \/  \  ___/ \___ \ 
\_____\ \_/____/  \___  >__|  |__|\___  >____  >
     \__>           \/              \/     \/ 

*/

/* Telefonos pequeños */
@media (min-width: 320px) {
    html {
        margin: 0;
        padding: 0;
    }
    .jumbotron {
        background: url("../images/hero1.png") no-repeat; 
        background-size: cover;
        background-position: center center;
        margin-top: 0;
        height: 650px;
    }
    .frase {
        background-color: rgba(241, 128, 60, 0.80);
        margin-top: 0px;
    }
    .frase h2 {
        color: #FFF;
        padding: 10px;
        font-size: 26px;
        line-height: 35px;
        font-weight: 400;
        padding-top: 25px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .fondoMision {
        background-image: none;
    }
    .textoEmpresarial {
        padding: 10px;
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
    }
    .tituloQuetegustaria {
        margin: 0 0 15px 0;
        padding: 0;
    }
    .contenedor-a {
        padding-bottom: 30px;
    }
    .contenedor-a img {
        margin-top: 40px;
    }
    .MarcasMas img {
        height: auto;
        width: 50%;
        margin-bottom: 15px;
    }
    .testimonios {
        padding: 15px;
    }
    .testimonios h6 {
        margin-bottom: 50px;
    }
    .testimonios img {
        padding-top: 25px;
    }
    .tituloTestimonios {
        margin: 20px 0 20px 0;
        padding: 0;
    }
    .emailBox {
        margin: 0;
        padding: 0;
    }
    .emailBox h2 {
        margin: 0;
        padding: 20px 0 10px 0;
    }
    .columnaForm {
        margin-top: 70px;
        padding: 15px;
    }
    .columnaForm input {
        width: 100%;
    }
    .btnSub {
        width: 100%;
    }
    footer {
        line-height: 30px;
        height: auto;
        padding-bottom: 20px;
    }
    .franja {
        height: 285px;
        color: #FFF;
        background-color: #F1803C;
        text-align: center;
        width: auto;
    }
    .franja h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding-top: 40px;
    }
    .franja h3 {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
    }
    .tituloQuetegustaria {
        padding: 20px 0 0 0;
        font-size: 30px;
        line-height: 50px;
    }
    .legales {
        height: auto;
        width: auto;
    }
    .nosotrosJennifer {
        margin-top: 20px;
    }
    .columna2liderazgo img {
        height: auto;
        width: 100%;
    }
}
/* Telefonos pequeños */

/*  Galaxy S5 */
@media (min-width: 360px) {}




/*  Galaxy S5 */
@media (min-width: 375px) {
    .fondoMision {
        padding: 20px 20px 20px 20px;
    }
    .fondoMision .textoEmpresarial {
        color: #4A4A4A;
        line-height: 30px;
        text-align: justify;
        font-size: 17px;
    }
}



/* Pixel 2 */
@media (min-width: 411px) {}




/* Pixel 2 */

@media (min-width: 425px) {
    .textoEmpresa p {
        text-align: justify;
        font-size: 16px;
        line-height: 35px;
        font-weight: 500;
    }
    .atraer {
        margin-bottom: 10px;
    }
    .MarcasMas img {
        height: auto;
        width: 40%;
    }
    .tituloTestimonios {
        font-size: 26px;
        padding: 20px 0 20px 0;
        line-height: 37px;
    }
    .testimonios p {
        padding-bottom: 50px;
    }
    .legales {
        height: auto;
        padding-top: 20px;
    }
    .columna2liderazgo img {
        height: auto;
        margin-top: 30px;
        width: 100%;
    }
}






/* Iphone 6/7/8 Plus */
@media (min-width: 414px) {}
/* Iphone 6/7/8 Plus */






@media (min-width: 768px) {
    .jumbotron {
        background: url("../images/hero1.png") no-repeat; 
        background-size: cover;    
        margin-top: 0;
        height: 350px;
    }
    .frase {
        background-color: rgba(241, 128, 60, 0.80);
        margin-top: 60px;
        width: 400px;
        height: auto;
        padding: 5px 0 5px 0;
        position: relative;
        margin-left: 40px;
        width: auto;
    }
    .frase h2 {
        color: #FFF;
        font-size: 30px;
        line-height: 35px;
        font-weight: 400;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
    }
    .fondoMision {
        height: auto;
        padding: 10px 20px 20px 20px;
        width: auto;
    }
    .textoEmpresarial {
        font-size: 18px;
        padding-top: 10px;
        line-height: 35px;
        width: auto;
    }
    .emailBox h2 {
        font-size: 20px;
        padding: 40px 0 20px 0;
    }
    .emailBox p {
        font-size: 12px;
        line-height: 20px;
    }
    .nombreTestimonios {
        font-size: 13px;
    }
    .testimonios p {
        font-size: 12px;
    }
    .tituloTestimonios {
        padding: 20px 0 20px 0;
    }
    .testimonios {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .btnVolver {
        width: auto;
    }
    .columna2liderazgo img {
        height: auto;
        margin-top: 30px;
        width: 100%;
    }
}



@media (min-width: 1024px) {
    .jumbotron {
        background: url("../images/hero1.png") no-repeat; 
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: cover;    
        height: auto;   
        margin-top: 0;
        height: 500px;
    }
    .fondoMision {
        height: auto;
        background-image: url("../images/circulo-naranja.png");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: bottom right;
        padding: 30px 0 90px 0;
        width: 100%;
    }
    .textoEmpresarial {
        height: auto;
        width: 900px;
        margin: 0 auto;
    }
    .textoEmpresarial {
        font-size: 20px;
        line-height: 37px;
    }
    .emailBox h2 {
        padding-top: 40px;
    }
    .tituloTestimonios {
        padding: 15px 0 20px 0;
    }
    .contenedor-a {
        padding: 40px 0 0 0;
    }
    .atraer {
        padding: 0 0 60px 0;
    }
    .frase {
        background-color: rgba(241, 128, 60, 0.80);
        margin-top: 130px;
        width: 400px;
        height: auto;
        padding: 20px 0 20px 0;
        position: relative;
        margin-left: 100px;
        width: auto;
    }
    .frase h2 {
        color: #FFF;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
    }
    .testimonios {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .MarcasMas img {
        height: auto;
        width: 100%;
    }
    .franja h2 {
        font-size: 30px;
    }
    .franja h3 {
        font-size: 20px;
    }
}


@media (min-width: 1440px) {
    .jumbotron {
        background: url("../images/hero1.png") no-repeat; 
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: cover;    
        background-position: left, left;
        height: 850px;   
        margin-top: -180px;
        margin-left: -300px;
        margin-bottom: 0;
        border-radius: 0;
    }
    .fondoMision {
        height: auto;
        background-image: url("../images/circulo-celeste.png"), url("../images/circulo-naranja.png");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: left, bottom right;
        padding: 45px 0 45px 0;
        width: 100%;
    }
    .textoEmpresarial {
        height: auto;
        width: 900px;
        margin: 0 auto;
    }
    .textoEmpresarial {
        font-size: 20px;
        line-height: 37px;
    }
    .tituloQuetegustaria {
        color: #F1803C;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 200;
        margin: 0 0 10px 0;
    }
    .frase {
        background-color: rgba(241, 128, 60, 0.80);
        margin-top: 330px;
        width: 400px;
        height: auto;
        padding: 0 0 20px 0;
        position: relative;
        float: right;
    }
    .frase h2 {
        color: #FFF;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }
    .tituloTestimonios {
        margin: 40px 0 30px 0;
    }
    .atraer {
        padding-bottom: 100px;
    }
    .emailBox {
        padding: 30px 0 30px 0;
    }
    .emailBox h2 {
        padding-top: 40px;
    }
    .textoEmpresa p {
        font-size: 20px;
    }
    .MarcasMas img {
        height: auto;
        width: 100%;
    }
    .tituloTestimonios h2 {
        padding: 0;
    }
    .franja h2 {
        font-size: 30px;
    }
    .franja h3 {
        font-size: 20px;
    }





    @media (min-width: 2560px) {
        .jumbotron {
            background: url("../images/hero1.png") no-repeat; 
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: cover;    
            height: 1100px;   
            margin-top: -180px;
            height: 1200px;
            margin-bottom: 0;
            border-radius: 0;
        }
        .frase  {
            width: auto;
            padding: 30px;
            line-height: 60px;
            margin-top: 450px;
            width: 500px;
            height: auto;
        }
        .fondoMision {
            height: 245px;
            background-image: url("../images/circulo-celeste.png"), url("../images/circulo-naranja.png");
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-position: left, bottom right;
        }
        .emailBox {
            padding: 50px 0 0 0;
        }
        .textoEmpresa {
            font-size: 28px;
            line-height: 45px;
            text-align: justify;
        }
        .contenedor-a h3 {
            margin-bottom: 60px;
            font-size: 30px;
        }
        .franja h2 {
            font-size: 30px;
        }
        .franja h3 {
            font-size: 20px;
        }
    }

    
}








.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}